*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    background-color:  hsl(180, 52%, 96%);
}

header{
    background-color: hsl(180, 29%, 50%);
}

header img{
    max-width: 100%;
    height: auto;
}

.job-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 85%;
    max-width: 1200px;
    margin: 50px auto;

}

.jobs{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 5px;
    box-shadow: 6px 6px 10px rgba(197, 189, 189, 0.5);
}

.highlight{
    position: absolute;
    background-color: black;
    width: 20%;
    height: 200px;
    left: 0;
}

.jobs .left{
    
    display: flex;
    width: 50%;
    gap: 1rem;
    align-items: center;
}

.jobs .left .job-description{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.jobs .left .top{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.name{
    color: hsl(180, 29%, 50%);
}

.type{
    color: white;
}

.new{
    border: 0.5px solid white;
    background-color:hsl(180, 29%, 50%) ;
    padding: 0.3em 0.6em;
    border-radius: 50px;
}

.featured{
    border: 0.5px solid white;
    background-color: hsl(180, 14%, 20%) ;
    padding: 0.3em 0.6em;
    border-radius: 50px;  
}

ul{
    display: flex;
    gap: 2rem;
    color: hsl(180, 14%, 20%);
}

ul .time{
    list-style: none;
}

ul .item::marker{
    color:  hsl(180, 8%, 52%);
}

.right{
    display: flex;
    width: 50%;
    align-items: center;
    gap: 1rem;
}

.skills{
    color:hsl(180, 29%, 50%);
    border: 0.5px solid white;
    border-radius: 8px;
    padding: 0.5em;
    background-color:  hsl(180, 52%, 96%);
}